.card-container {
  max-width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.flag {
  height: 180px;
  max-width: 280px;
  min-width: 280px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

body.dark .card-container {
  background-color: #2b3945;
  color: #ffffff;
  border-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}