.country-details {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr; /* default: 1 column on small screens */
}

@media (min-width: 768px) {
  .country-details {
    grid-template-columns: repeat(2, 1fr);
  }
}

.country-flag {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.country-details-info {
  display: grid;
  grid-template-columns: 1fr; /* mobile */
  gap: 1rem;
}

@media (min-width: 768px) {
  .country-details-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
.back-button {
  margin: 1rem;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
}

body.dark .back-button {
  background-color: #2b3945;
  color: #ffffff;
  border-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.border-button {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: default;
  transition: background-color 0.2s ease;
  background-color: #f9f9f9;
  display: inline-block;
}
body.dark .border-button {
  background-color: #2b3945;
  color: #ffffff;
  border-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}
.border-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
}
